node_modules/
/logs/*
!/logs/.test
/imageUpload/*
./imageUpload/.test
/imageResult/*
./imageResult/.test
/cert/*
./cert/.test
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
